*{
  font-family: sans-serif;
}
h1,h4{
  text-align: center;
}
#local-player{
  position: relative;
  width: 50%;
  margin: 0 auto;
  display: block;
}
#local-player video{
  position: relative !important;
}
#remote-container{
  display: flex;
  width: 20rem;
  height: 20rem;
  border: 1px solid #eeee;
}
#remote-container div{
  display: flex;
  width: 20rem;
  height: 20rem;
  border: 1px solid #eeee;
}
.agora_video_player{
  height: auto;
  position: relative !important;
  position: relative;
  width: 20rem !important;
  height: 20rem !important;
  margin: 0 auto;
  display: block;
}